@use 'sass:math';

@mixin triangle($width: 8px, $direction: 'down', $color: currentColor) {
  @if $direction == 'top' {
    width: 0;
    height: 0;
    border-left: math.div($width, 2) solid transparent;
    border-right: math.div($width, 2) solid transparent;
    border-bottom: math.div($width, 2) solid $color;
  } @else if $direction == 'left' {
    width: 0;
    height: 0;
    border-top: math.div($width, 2) solid transparent;
    border-bottom: math.div($width, 2) solid transparent;
    border-right: math.div($width, 2) solid $color;
  } @else if $direction == 'right' {
    width: 0;
    height: 0;
    border-top: math.div($width, 2) solid transparent;
    border-bottom: math.div($width, 2) solid transparent;
    border-left: math.div($width, 2) solid $color;
  } @else {
    width: 0;
    height: 0;
    border-left: math.div($width, 2) solid transparent;
    border-right: math.div($width, 2) solid transparent;
    border-top: math.div($width, 2) solid $color;
  }
}
